@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Poppins:wght@100;200&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box; 
    font-family: 'Poppins', sans-serif;   
}

body{
    background-color:#ffffff;
    height:100vh;
    display:grid;
    justify-content: center;
    align-items:center;
    color:#8f94b8;
    font-size:0.9rem;
}

table{
    table-layout:fixed; /*la tabla renderiza mucho más rápido*/
    border-collapse:collapse;
    box-shadow: 0 5px 10px #f3f3f4;
    text-align: left;
    overflow: hidden;
    
}

th {
    padding: 1rem 2rem;
    text-transform: capitalize;
    font-size: 0.7rem;
    font-weight: 900;
}

td {
    background-image: linear-gradient(to bottom, #eeeff8, #f3f3fa, #f7f7fb, #fbfbfd, #ffffff);
    padding: 1rem 2rem;

}

section{
    background-color: #f4f6fa;
    padding: 1rem;
}

/* .cabecera{
    display:inline-block;
} */

h1 {
    display:inline-block;
    width: 20vw;
    color:#171c35;
}

select{
    padding: 0.5rem 1rem;
    background-color:#ffffff;
    appearance: none;
    border-end-start-radius: 5px;
    border-start-start-radius:5px;
    border: none;
    

    
	
}
select:focus{ 
    outline: none;/* elimina la "sombra" azulada que aparece en Google Chrome */
}

input {
    padding: 0.5rem 1rem;
    background-color:#ffffff;
    border:none;
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;
    

}

/* MEDIA QUERY */ 
/* Para 320px */  

@media only screen and (max-width: 340px) and (min-width: 5px)  { 

    section{
        width:95vw;
        
    }

    h1{
        width: 90vw;
    }
    
    
    select{
        width:85vw;
       margin:10px 0;
    }
    input{
        width:85vw;
       margin-bottom: 5px;
    }

    thead {
        width: 65vw;
    }

    tr {
        width: 65vw;
    }

}
/* Para 480px */  
@media only screen and (max-width: 500px) and (min-width: 341px) { 
    form {
        width: 100vw;
        
    }
    .placeIcon{
        width: 50vw;
                
    }
    .submit {
        width: 45vw;
    }
     
}
/* Para 600px */  
@media only screen and (max-width: 620px) and (min-width: 501px) { 
    form{
        width: 50vw;
    } 

    .placeIcon{
        width:35vw;
    }
}
/* Para 800px */  
@media only screen and (max-width: 820px) and (min-width: 621px) {  
}
/* Para 1000x */  
@media only screen and (max-width: 1024px) and (min-width: 821px) {  
}

/* Para 1300x */  
@media only screen and (max-width: 1500px) and (min-width: 1025px) {  

    form {
        width: 40vw;
        height: 65vh;
    }
    .placeIcon{
        width: 30vw;
                
    }
    .submit {
        width: 25vw;
    }
}
