 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color: #74817c;
    font-family: 'Montserrat', sans-serif;
     
}

body {
    background-image: linear-gradient(to bottom, #96beb4, #a3c6b8, #b1cebd, #bed5c3, #ccddc9, #c6d7c4, #bfd1be, #b9cbb9, #9db6a7, #83a197, #6a8c87, #527878);
    /* height: 100vh; */
}

h3 {
    padding-bottom:5px;
}

section, form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form{
    
    background-image: linear-gradient(to bottom, #caded9, #d1e2da, #d9e5db, #e1e9dc, #e9ecdf);
    border-radius: 20px;
    width: 40vw;
    height: 60vh;
    /* padding:10px; */
       
}

input {
    outline: none;
    background-color: #f5f5f5;
    border: 0;
    padding: 7px;
    margin: 5px;
    
	


}

.placeIcon{
    font-family: fontawesome,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 30vw;
    padding:10px;
    
}
.camera{
    background-color:#fcffff;
    padding: 20px;
    border-radius: 100px;
    position: absolute;
    margin-bottom: 63vh;
    
    
}

.submit{
    background-color: #37c88b;
    border-radius: 15px;
    width: 25vw;
    padding: 5px px;
    text-align: center;
    color: #fff;
    margin-top: 20px;

    
}
footer{
    color:#1f3334;
    padding-top: 10px;
}

/* MEDIA QUERY */ 

@media screen  and (max-width: 480px){
    form {
        width: 70vw;
        height: 65vh;
    }
    .placeIcon{
        width: 50vw;
                
    }
    .submit {
        width: 45vw;
    }
}
