@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;700&family=Montserrat:wght@300;400;700&family=Poppins:wght@100;300&display=swap');

:root{
    --btn-color:  #37c88b;
    --text-color: #74817c;
    --text-font:  'Poppins', sans-serif;
    
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--text-font);
}

body {
  background-image: linear-gradient(
    to bottom,
    #96beb4,
    #a3c6b8,
    #b1cebd,
    #bed5c3,
    #ccddc9,
    #c6d7c4,
    #bfd1be,
    #b9cbb9,
    #9db6a7,
    #83a197,
    #6a8c87,
    #527878
  );
  
}

h3 {
    padding-top: 5px;
    padding-bottom: 5px;
}


section,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-box-shadow: 5px 9px 16px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 9px 16px -3px rgba(0, 0, 0, 0.27);
}

form {
  background-image: linear-gradient(
    to bottom,
    #caded9,
    #d1e2da,
    #d9e5db,
    #e1e9dc,
    #e9ecdf
  );
  border-radius: 20px;
  width: 20vw;
  height: 60vh;
  /* padding:10px; */
}
.fontAwesome {
    font-family: 'Poppins', 'FontAwesome', sans-serif;
  }

input {
  outline: none;
  background-color: #f5f5f5;
  border: 0;
  padding: 7px;
  margin: 5px;
  width: 14vw
}

/* .placeIcon {
  
  width: 30vw;
  padding: 10px;
} */
.camera {
  background-color: #fcffff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 75px;
  
  -webkit-box-shadow: 5px 9px 16px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 9px 16px -3px rgba(0, 0, 0, 0.27);
}

.submit {
  background-color: var(--btn-color);
  border-radius: 15px;
  width: 13vw;
  padding: 5px px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
  font-weight: 500;
}
footer {
  color: var(--text-color);
  padding-top: 10px;
}
